.scroll-container {
  padding: 20px;
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.inner {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2 { text-align: center; }

  input, .input-select {
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 16px;
  }
}

.btn-select {
  display: block;
  background-color: #049315;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.preview {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;
  display: block;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.btn-save {
  background-color: #ff3b3b;
  color: white;
  border: none;
  padding: 15px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  &:disabled { opacity: 0.5; }
}

.btn-delete {
  background-color: #8b0000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
